h1{
    
    font-family: Impact;
}
p{
    font-size: 35px;
}
.btn{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
}
.btn:hover{
    background-color: green;
    color: white;
}